@use "variables" as v;
@use "mixins" as m;

// jag har verkligen försökte att göra en hamburger menu men misslyckades gång på gång :(

#background-image {
  background: url(/assets/negative-space-black-forest-dawn.jpg) no-repeat center
    center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

body {
  height: 100vh;
  font-family: "Poppins", sans-serif;
  --color1: #fff;
  --color2: #181818;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: v.$primary_1;
  height: 50px;
  padding: 1em;

  &__navbar {
    height: 10vh;
    width: 100%;
    display: flex;

    & .navbar__bars {
      width: 100%;
      display: flex;
      justify-content: end;
      align-items: center;
      list-style: none;
      position: absolute;
      padding: 12px 20px;
      box-shadow: #181818;

      & .bars__menu {
        display: flex;

        @include m.desktop {
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 80%;
          height: 100vh;
          position: fixed;
          top: 0;
          right: -100%;
          z-index: 100;

          transition: all 0.2s ease-out;
        }

        & li {
          padding-left: 30px;
          @include m.desktop {
            margin-top: 40px;
          }

          & a {
            display: inline-block;
            text-decoration: none;
            color: #fff;
            text-align: center;
            transition: 0.15s ease-in-out;
            position: relative;
            text-transform: uppercase;

            @include m.desktop {
              padding: 10px;
            }
            &::after {
              content: "";
              position: absolute;
              bottom: 0;
              left: 0;
              width: 0;
              height: 1px;
              background-color: #fff;
              transition: 0.15s ease-in-out;
            }
            & a:hover:after {
              width: 100%;
            }
          }
        }
      }
      .open-menu,
      .close-menu {
        position: absolute;
        color: #fff;
        cursor: pointer;
        font-size: 1.5rem;
        display: none;

        @include m.desktop {
          display: block;
        }
      }

      .open-menu {
        top: 50%;
        right: 20px;

        transform: translateY(-50%);
      }

      .close-menu {
        top: 20px;
        right: 20px;
      }
    }
  }
}

#check {
  display: none;

  @include m.desktop {
    #check:checked ~ .menu {
      right: 0;
    }
  }
}
